<html>
    <head>
        <title>Edit User</title>
    </head>

    <body>
        <a href='/events'>Event Dashboard</a>

        <form action='/users/<%= @user.id %>' method='post'>
            <input type='hidden' name='_method' value='patch'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            First Name: <input type='text' name='first_name' value='<%= @user.first_name %>'> <br>
            Last Name: <input type='text' name='last_name' value='<%= @user.last_name %>'> <br>
            Email: <input type='text' name='email' value='<%= @user.email %>'> <br>
            Location: <input type='text' name='location' value='<%= @user.location %>'> 
            <select name="state" value='<%= @user.state %>'>
                <option value="WA">WA</option>
                <option value="CA">CA</option>
                <option value="NY">NY</option>
                <option value="TX">TX</option>
            </select> <br>
            <input type='submit' value='Update Records'>
        </form>
    </body>
</html>
